---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <div class="px-[25%]">
    <div class="pt-6 break-word whitespace-pre-line text-wrap">
      <h1>About this website</h1>
      <div>
        PRPB เป็นเว็บไซต์ที่ผมจะนำความรู้เกี่ยวกับ AWS
        ที่ผมได้เรียนรู้มาเขียนสรุปเป็นบทความแล้วนำมาลงเอาไว้ครับ
        ซึ่งผมทำเว็บไซต์นี้ขึ้นมาด้วยเหตุผล 3 อย่าง คือ 1.
        เพื่อแบ่งปันความรู้ให้กับผู้ใช้ AWS คนอื่น ๆ ในประเทศไทย เนื้อหา 2.
        เพื่อ 3. เป็น Portfolio ของตัวเอง
      </div>
    </div>
  </div>
</Layout>
