---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Blogs">
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
  <h1>blogs</h1>
  <p>This is a blogs page.</p>
</Layout>
