---
import Layout from "@/layouts/Layout.astro";
import { SelectScrollable } from "@/components/SelectScrollable";
import { SelectForm } from "@/components/SelectForm";
---

<Layout title="Blogs">
  <!-- <SelectScrollable client:load /> -->
  <div class="w-full flex justify-center">
    <div class="w-full max-w-[1340px] flex justify-center">
      <div class="w-full mt-8">
        <SelectForm client:load />
      </div>
    </div>
  </div>
</Layout>
