---
import Layout from "@/layouts/Layout.astro";
import { BlogList } from "@/components/blogs/BlogList";
---

<Layout title="Blogs">
  <div class="w-full flex justify-center">
    <BlogList client:load />
  </div>
</Layout>
