---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import "@/styles/globals.css";
---

<Layout>
  <div class="relative h-[5000px]">
    <Menu />
  </div>
  <p>test</p>
</Layout>
