---
import "@/styles/globals.css";
import { Header } from "@/components/header/Header";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter?.title + " | PRPB"}</title>
    <script>
      const preferredTheme =
        localStorage && localStorage.getItem("PRPB_THEME")
          ? localStorage.getItem("PRPB_THEME")
          : window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";

      if (preferredTheme === "dark")
        document.documentElement.classList.add("dark");

      if (localStorage) {
        const observer = new MutationObserver(() => {
          localStorage.setItem(
            "PRPB_THEME",
            document.documentElement.classList.contains("dark")
              ? "dark"
              : "light"
          );
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
  </head>
  <body>
    <header>
      <Header client:load />
    </header>
    <main>
      <div
        class="px-4 md:px-[15%] xl:px-[22.5%] break-word whitespace-pre-line text-wrap pt-0 md:pt-[3.4rem] relative"
      >
        <div class="pt-4 md:pt-6">
          <div class="w-full border rounded-xl">
            <img
              src={frontmatter?.thumbnail}
              alt="Thumbnail"
              class="rounded-xl select-none"
            />
          </div>
          <h1 class="text-4xl md:text-3xl font-bold py-6 md:py-4">
            {frontmatter?.title}
          </h1>
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    /* height: 100%; */
    height: 5000px;
    font-size: clamp(16px, 2.5vw, 20px);
    position: relative;
    box-sizing: border-box;
    /* transition: all 0.2s cubic-bezier(0.32, 0.72, 0, 1); */
  }
</style>
